body{
    font: 13px Arial, Helvetica, sans-serif;
}

.main-content .wrap {
    background-color: #f2fbf2;
    display: block;
    /*font-size: 13px;*/
}

.main-content .wrap h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    color: #000000;
    margin-bottom: 1px;
    line-height: 1.8;
    background-color: #f2fbf2;
}

.wrapper .right-content{
    color: #666;
    overflow: hidden;
    zoom: 1;
}

.indent h3{
    font-size: 20px;
    color: #F66733;
    margin: 0 0 12px 0;
    line-height: 150%;
}

.indent ol li{
    margin-bottom: 10px;
    color: rgba(82,45,128,1);
    font-weight: bold;
}