*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper .content .password-left-content{
    float: left;
    padding-right: 10px;
    /*position: absolute;*/
}

.wrapper .content .password-left-content .db-usr-profile{
    position: relative;
    height: 48px;
    width: 100%;
    position: relative;
    margin-bottom: 2em;
}

.wrapper .content .password-left-content .db-usr-profile .file_upload_button{
    margin-right: 20px;
}

.wrapper .content .password-left-content .db-usr-profile .pic-box{
    float: left;
    margin-bottom: 18px;
    margin-right: 12px;
    position: relative;
    width: 48px;
    height: 48px;
}

.wrapper .content .password-left-content .db-usr-profile .pic-box .my-profile{
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background-size: 100%;
}

.wrapper .content .password-left-content .db-usr-profile .user-name-box{
    float: none;
    display: inline-block;
}

.wrapper .content .password-left-content .db-usr-profile .user-name-box h1{
    font-size: 26px;
}

.wrapper .content .password-left-content .user-infor-box{
    width: 650px;
    height: 500px;
    border-right: 1px dashed rgba(82,45,128,1);
}

.wrapper .content .password-left-content .user-infor-box .item{
    margin: 15px 0;
    clear: both;
    height: 40px;
}

.wrapper .content .password-left-content .user-infor-box label{
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 15px;
    width: 100px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    font-weight: bold;
}

.wrapper .content .password-left-content .user-infor-box .permanent{
    display: inline-block;
    /*width: 250px;*/
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.wrapper .content .password-left-content .user-infor-box .item .basic-input{
    width: 200px;
    padding: 5px;
    height: 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid black;
    display: none;
}

.wrapper .content .password-left-content .user-infor-box .item .my-button,
.db-usr-profile .file_upload_button{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: #3fa156;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    display: none;
    border: none;
    outline: none;
}

.wrapper .content .password-left-content .user-infor-box .item a{
    margin-left: 10px;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.wrapper .content .password-left-content .db-usr-modifypassword {
    height: 48px;
    width: 100%;
    position: relative;
    margin-bottom: 2em;
}

.wrapper .content .password-left-content .db-usr-modifypassword h1{
    display: inline-block;
    font-size: 24px;
}

.wrapper .content .password-left-content .main-content{
    padding-left: 50px;
    width: 550px;
    border-right: 1px dashed rgba(82,45,128,1);
}

.wrapper .content .password-left-content .main-content .modify-page-item{
    margin-bottom: 1.5em;
}

.wrapper .content .password-left-content .main-content .input-item{
    padding: 5px;
    height: 18px;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
}

.wrapper .content .password-left-content .main-content .my-button{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: #3fa156;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    outline: none;
}

.wrapper .content .right-content{
    color: #666;
    overflow: hidden;
    zoom: 1;
}

.wrapper .content .right-content h3{
    font-size: 20px;
    color: #F66733;
    margin: 0 0 12px 0;
    line-height: 150%;
}

.wrapper .content .right-content ol li{
    margin-bottom: 10px;
    color: rgba(82,45,128,1);
    font-weight: bold;
}