.wrapper .right-content{
    color: #666;
    overflow: hidden;
    zoom: 1;
}

.wrapper .right-content h3{
    font-size: 20px;
    color: #F66733;
    margin: 0 0 12px 0;
    line-height: 150%;
}

.wrapper .right-content ol li{
    margin-bottom: 10px;
    color: rgba(82,45,128,1);
    font-weight: bold;
}